.hero {
  font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1e1e1e;
  }
  
  .hero-content {
    padding: 4 rem;
    position: relative;
    top: 400px;
    text-align: center;
  }
  
  p {
    
    color:aliceblue;
  }

  .hero-button {
  font-family: 'Orbitron', sans-serif;
  padding: 0.8rem;
  background-color: #d4bd51; /* Color dorado fijo */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 200ms; /* Solo mantiene el efecto de desplazamiento */
  }

