.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #d4bd51;
  color: #070707;
  margin: 0;
  height: 60px; /* Ajusta según el tamaño deseado */
}

.navbar a {
  position: absolute;
  left: 50px;
  margin: 0;
  display: flex;
  align-items: center;
}
#logo-nav {
  position: absolute;
  height: 50px; /* Ajusta el tamaño del logo según sea necesario */
}

.navbar h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem; /* Ajusta el tamaño del texto si es necesario */
  text-align: center; /* Asegura el centrado del texto */
  margin: 0;
}
