.social-links {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 2rem;
    background-color: #ffffff;
    color: #000000;
    margin:0;
    bottom:0px;
  }
  .social-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Leelawadee';
  }
  